doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
    style.
      body, html {
        height: 100%;
      }
      .parallax {
        font-size: 5rem;
        background-image: url("/images/dog.gif");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      
  body
    script(src="https://unpkg.com/vue")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js")
    
    div#app
      h1 
        messages(v-for="message in messages" v-bind:now="now")
      p 
        span(v-if="showing") 哈喽
        span(v-if="seen") {{ kappa + "kappa" }}
        br
        button(v-on:click="changeMsg") click me
        button(v-on:click="hideMsg") {{ hideBtnName }}
      p Welcome to {{ title }}'s Website
        br
        input(v-model="title")
      
    .parallax
      h1
        |HelloWorld!!
      
    script(src='/javascripts/helloworld.js')
